<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <table>
        <tr>
          <td>id</td>
          <td>nome</td>
        </tr>
        <tr>
          <td>1</td>
          <td>livro do node js</td>
        </tr>
      </table>

  </body>
</html>
